@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/jki6tsw.css");
@import "tailwindcss";

/* FONTS */

@theme {
    --font-rethink-sans: "Rethink Sans", sans-serif;
    /*  */
    --font-acier-bat-gris: "acier-bat-gris", sans-serif;
    --font-scandia-line: "scandia-line-web", sans-serif;
    /* molto fighi per i titoli grandi */
    --font-halcom: "halcom", sans-serif;
    /*  */
    --font-area-extended: "area-extended", sans-serif;
    /* bello solo per i titoli */
}






@layer base {
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
        .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
    
    dialog::backdrop {
        @apply bg-black/40 backdrop-blur-md;
      }

    .flex-row-center {
        @apply flex justify-center items-center;
    }

    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }

    .flex-row-between {
        @apply flex justify-between items-center;
    }

    .flex-col-between {
        @apply flex flex-col justify-between items-center;
    }

    .flex-row-evenly {
        @apply flex justify-evenly items-center;
    }

    .flex-row-around {
        @apply flex justify-around items-center;
    }

    .flex-row-items-start {
        @apply flex items-start;
    }

    .flex-row-items-end {
        @apply flex items-end;
    }

    .flex-col-justify-start {
        @apply flex flex-col justify-start;
    }

    .flex-col-justify-end {
        @apply flex flex-col justify-end;
    }

    .flex-row-justify-start {
        @apply flex justify-start;
    }

    .flex-row-justify-end {
        @apply flex justify-end;
    }


    
    @keyframes bounce-x {
        0%, 100% {
            transform: translateX(-15%);
        }
        50% {
            transform: translateX(15%);
        }
    }

    .animate-bounce-x {
        animation: bounce-x 1.5s ease-in-out infinite;
    }
}